.jags{
    width: 100%;
    height: 30px;
    background-color: blue; 
}
.got{
    width: 100px;
    height: 50px;
    background-color: blue;
}
.leo{
    width: 100%;
    height: 600px;
    background: url(img22.jpg);
}
.leo1{
    width: 20px;
    background-color: black;
}
center{
    padding-bottom: 5em;
    font-family: 'Times New Roman', Times, serif;
}
.lee{
    width: 100%;
    height: 100%;
    }
.tap{
    width: 100%;
    height: 50px;
    background-color:black;
    position: relative;
    top: 50px;
}
button{
    width: 100PX;
    height: 40PX;
    color:white;
    background-color: blue;
    position: relative;
    bottom: 200px;
}
.jack{
    width: 100%;
    height: 350px;
    background-color:#fffdd0;
}
.deal{
    height: 50px;
    width: 100px;
    padding-top: 5px;
    position: relative;
    bottom: 200px;
}
.dior{
    width: 100%;
    height: 500px;
    background-color:#fffdd0;
}
.feat{
    width: 100%;
    height: 420px;
    background-color:white;
}
.sub{
    width: 100%;
    height: 250px;
    background-color:#fffdd0; 
}